NEXT_PUBLIC_SITE_URL=http://localhost:3000
BUSINESS_EMAIL=tejnarayan1667@gmail.com
EMAIL_FROM=tejnarayan1667@gmail.com
BRAND_NAME=Braniva Oils

GOOGLE_SHEET_ID=
GOOGLE_SHEET_TAB_NAME=Braniva oils order
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

EMAIL_SERVICE_API_KEY=

FRONTEND_URL=http://localhost:3000
